.header__stats{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 35%;
    // border: 1px solid #000;  //para verificar disposicion
    padding-left: 2%;
    padding-right: 2%;
    width: 34%;
}
.header__stats--cont{
    display: flex;
    flex-direction: column;
   align-items:flex-start;
    justify-content: space-around;
    padding: 4%;
}
.header__stats h2{
    font-size: 2.5em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.header__stats p{
    font-size: 1em;
    padding: 0;
    margin: 0;
}
