.location__description{
    flex: 1;
    padding: 2em;
    margin-right: 2em;
    align-content: center;
}
.location__description h2{
    font-size: 2em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}